<!DOCTYPE html>
<html lang="en" ng-app="bluStore">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BluStore</title>

    <!-- build:css styles/main.css -->
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/simple-sidebar.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller="mainCtrl as baseCtrl">
    <!-- loading screen -->
    <div class="container loading logo" ng-show="$root.stateLoading.app">
        <span class="fa fa-shopping-bag fa-2x"></span>
        <h2>BluStore</h2>
        <i class="fa fa-spinner fa-spin fa-2x"></i>
    </div>

    <div ng-hide="$root.stateLoading.app">
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="">
                        Categories
                    </a>
                    </li>
                    <!-- categories search form -->
                    <form id="sidebar-search" class="form-inline">
                        <div class="input-group">
					        <input type="text" class="form-control" 
                                ng-model="baseCtrl.cateSearchTerm"
                                placeholder="search categories" role="search">
					        <span class="input-group-btn">
                    	        <button class="btn btn-info" type="button"><span class="fa fa-search"></span></button>
					        </span>
				        </div>
                    </form>
                    <div id="sidebar-menu">
                    <li><a 
                        ng-repeat="category in baseCtrl.categories | categoriesSearch: $root.categoriesList:baseCtrl.cateSearchTerm",
						ng-class="{ 'active': baseCtrl.selectedCate === category.name }"
						ng-click="baseCtrl.selectedCate = category.name">
                            <span ng-hide="baseCtrl.selectedCate === category.name">{{ category.name }}</span>
							<span ng-show="baseCtrl.selectedCate === category.name">
								<button type="button" class="btn btn-warning" 
									ng-disabled="!category.parent"
									ng-click="baseCtrl.displayCategory(category, true)">
										&lt;&lt;
								</button>
								<button type="button" class="btn btn-success"
									ui-sref="app.category({id: category.slug})"
                                    ng-click="baseCtrl.currentCategory = category">{{ category.name }}
								</button>
								<button type="button" class="btn btn-danger"
									ng-disabled="category.children.length < 1" 
									ng-click="baseCtrl.displayCategory(category)">
										&gt;&gt;
								</button>
							</span>
                    </a></li>
                    </div>
                    <li>
				        <i class="text-primary">Current: {{ baseCtrl.currentCategory.name }}</i>
			        </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">


                <blu-register id="register-modal"></blu-register>
                <div ui-view="header"></div>
                <div ui-view="content"></div>
                <div ui-view="footer"></div>

                <blu-social-links data-spy="affix" data-offset-top="200"></blu-social-links>

            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

    </div>

    <!-- build:js scripts/main.js -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../bower_components/angular/angular.min.js"></script>
    <script src="../../bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="../../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="../../bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="../../bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="scripts/app.js"></script>
    <!-- controllers -->
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/category.js"></script>
    <script src="scripts/controllers/user.js"></script>
    <script src="scripts/controllers/product.js"></script>
    <script src="scripts/controllers/admin.js"></script>
    <script src="scripts/controllers/admin-orders.js"></script>
    <script src="scripts/controllers/admin-categories.js"></script>
    <script src="scripts/controllers/admin-newproduct.js"></script>
    <!-- services -->
    <script src="scripts/services/categories.js"></script>
    <script src="scripts/services/products.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/local-storage.js"></script>
    <script src="scripts/services/http-interceptor.js"></script>
    <!-- directives -->
    <script src="scripts/directives/navbar.js"></script>
    <script src="scripts/directives/header.js"></script>
    <script src="scripts/directives/footer.js"></script>
    <script src="scripts/directives/product-short.js"></script>
    <script src="scripts/directives/social-links.js"></script>
    <script src="scripts/directives/user-dropdown.js"></script>
    <script src="scripts/directives/register.js"></script>
    <script src="scripts/directives/rate.js"></script>
    <!-- filters -->
    <script src="scripts/filters/product-grid.js"></script>
    <script src="scripts/filters/description-min.js"></script>
    <script src="scripts/filters/categories-search.js"></script>
    <!-- constants -->
    <script src="scripts/constants/config.js"></script>
    <script src="scripts/constants/api.js"></script>
    <script src="scripts/constants/events.js"></script>
    <script src="scripts/constants/errors.js"></script>
    <!-- utils -->
    <script src="scripts/utils/onload.js"></script>

    <!-- endbuild -->
</body>

</html>