<li id="cate-dropdown" class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-shopping-bag"></span> Categories</a>
	<ul id="categories-dropdown" class="dropdown-menu">
		<div class="row">
			<div class="col-xs-12">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="search categories" role="search">
					<span class="input-group-btn">
                    	<button class="btn btn-info" type="button"><span class="fa fa-search"></span></button>
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="list-group">
					<a href="" class="list-group-item" 
						ng-repeat="category in baseCtrl.categories",
						ng-class="{ 'active': baseCtrl.selectedCate === category.name }"
						ng-click="baseCtrl.selectedCate = category.name">
							<span ng-hide="baseCtrl.selectedCate === category.name">{{ category.name }}</span>
							<span ng-show="baseCtrl.selectedCate === category.name">
								<button type="button" class="btn btn-warning" 
									ng-class="{ 'disabled': !category.parent }"
									ng-click="baseCtrl.selectParentCategory(category)">
										&lt;&lt;
								</button>
								<button type="button" class="btn btn-success"
									ui-sref="app.category({id: category._id})">GO
								</button>
								<button type="button" class="btn btn-danger"
									ng-class="{ 'disabled': category.children.length < 1 }" 
									ng-click="baseCtrl.selectSubCategory(category)">
										&gt;&gt;
								</button>
							</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<i class="text-primary">Selected: {{ baseCtrl.selectedCate }}</i>
			</div>
		</div>	
	</ul>
</li>