
    <div class="row">
        <div class="col-xs-12 col-sm-3 footer-links">
            <h5>Customer Service</h5>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Shipping Policy</a></li>
                <li><a href="#">Returns & Refunds</a></li>
                <li><a href="#">Payment</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Corporate Deals</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">How To Shop</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3 footer-links">
            <h5>About BluStore</h5>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Join Us</a></li>
            </ul>
            <h5>Make money with us</h5>
            <ul>
                <li><a href="#">Affiliate Program</a></li>
                <li><a href="#">Become a Seller</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3 footer-icons">
            <h5>Follow Us</h5>
            <span class="fa fa-facebook-square fa-2x"></span>
            <span class="fa fa-twitter-square fa-2x"></span>
            <span class="fa fa-youtube-square fa-2x"></span>
            <span class="fa fa-instagram fa-2x"></span>
            <span class="fa fa-google-plus-circle fa-2x"></span>
            <h5>Payment Methods</h5>
            <span class="fa fa-cc-visa fa-2x"></span>
            <span class="fa fa-cc-mastercard fa-2x"></span>
            <span class="fa fa-cc-paypal fa-2x"></span>
            <span class="fa fa-cc-stripe fa-2x"></span>
            <h5>BluStore in your pocket!</h5>
            <span class="fa fa-android fa-3x"></span>
            <span class="fa fa-apple fa-3x"></span>
            <span class="fa fa-windows fa-3x"></span>
        </div>
        <div class="col-xs-12 col-sm-3 footer-forms">
            <h5>Subscribe to our Newsletter</h5>
            <form class="form-inline">
                <div class="form-group">
                    <label for="subscribeEmail" class="sr-only">Email Address</label>
                    <input type="email" class="form-control" id="subscribeEmail" placeholder="type your email">
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <div id="footer-logo">
                <p>BluStore &copy;</p>
                <span class="fa fa-shopping-bag fa-4x"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 footer-cr">
            <p>Designed and built by <a href="https://www.linkedin.com/in/ahmedaliabdullah">Ahmed Ali</a>
                - Cookies Code &copy; and it's demo version.</p>
        </div>
    </div>