<div id="header-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#header-carousel" data-slide-to="0" class="active carousel-button"></li>
        <li data-target="#header-carousel" data-slide-to="1" class="carousel-button"></li>
        <li data-target="#header-carousel" data-slide-to="2" class="carousel-button"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="images/promotions/laptop2.png" alt="">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img src="images/promotions/laptop.jpg" alt="">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="images/promotions/pc.jpg" alt="">
            <div class="carousel-caption"></div>
        </div>
    </div>
</div>
<hr>