<div class="thumbnail">
    <div class="product-actions">
        <a type="button" ng-click="addToCart(productInfo)" ng-if="!isAdmin" class="btn btn-success product-actions-btn btn-custom" 
            role="button"><span class="fa fa-cart-plus"></span> Add To Cart</a>
        <a ui-sref="app.product({ id:productInfo.slug })" ng-if="!isAdmin" 
            class="btn btn-warning product-actions-btn btn-custom" role="button">
            <span class="fa fa-search"></span> View Details</a>
        <div class="btn-group" ng-if="isAdmin">
            <a type="button" class="btn btn-danger dropdown-toggle" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin 
                <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="deleteProduct(productInfo._id)">delete</a></li>
            </ul>
        </div>
    </div>
    <img ng-src="{{ productInfo.imageUrl }}" alt="{{ productInfo.name }}">
    <div class="product-desc">
        <p class="product-desc-title">{{ productInfo.title | descriptionMin:37 }}</p>
        <blu-rate rating="{{ productInfo.rating.average }}"></blu-rate><br>
        <span class="label label-success">{{ productInfo.category.name }}</span>
        <span class="label label-warning" ng-if="productInfo.sale">On Sale</span>
        <span class="label label-danger" ng-if="productInfo.hot">Hot</span>
        <p>{{ productInfo.description | descriptionMin:41 }}</p>
        <span class="badge">Price: {{ productInfo.price | currency:"$":0 }}</span>
    </div>
</div>