<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Register new user</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="rg-fname-input" class="control-label col-xs-12 col-sm-3">First name</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control" id="rg-fname-input"
                                   placeholder="enter your first name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rg-lname-input" class="control-label col-xs-12 col-sm-3">Last name</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="text" class="form-control" id="rg-lname-input"
                                   placeholder="enter your last name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rg-email-input" class="control-label col-xs-12 col-sm-3">Email Address</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="email" class="form-control" id="rg-email-input"
                                   placeholder="enter your email..." required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rg-pass-input" class="control-label col-xs-12 col-sm-3">Password</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="password" class="form-control" id="rg-pass-input"
                                   placeholder="enter your password..." required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rg-pass2-input" class="control-label col-xs-12 col-sm-3">Password again</label>
                        <div class="col-xs-12 col-sm-6">
                            <input type="password" class="form-control" id="rg-pass2-input"
                                   placeholder="enter your password again..." required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>