body {
    padding-top: 51px;
}

.container {
    margin-top: 50px; 
    min-height: 300px;
}

#logo {
    width: 32px;
}

.navbar-brand {
    position: relative;
    bottom: 5px;
}

#header-carousel img {
    height: 300px;
    width: auto;
}

.carousel-button {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.navbar-default .navbar-nav> li> a:hover {
    background: #3ea346;
    color: #ffffff;
}

#navbar-search {
    width: 200px;
}

blu-social-links.affix {
    top: 200px;
    right: 10px;
}

blu-social-links.affix-top {
    position: absolute;
    top: 400px;
    right: 10px;
}

.fa-facebook-square {
    color: #4A6EA9;
}

.fa-twitter-square {
    color: #4099FF;
}

.fa-youtube-square {
    color: red;
}

footer .row {
    padding-top: 40px;
    margin-right: 0;
}

footer h5 {
    color: #65ba65;
}

.footer-links h5 {
    padding-left: 20px;
}

.footer-icons h5 {
    padding-left: 0px;
}

.footer-icons span {
    color: #ffffff;
    padding-right: 5px;
}

.footer-icons span:hover {
    color: #65ba65;
}

.footer-forms h5 {
    padding-left: 0;
}

.footer-cr p {
    padding-top: 20px;
    text-align: center;
    color: #b7b7b7;
}

footer {
    background: #434343;
}

footer ul {
    list-style: none;
}

footer a {
    color: white;
    font-size: 0.9em;
}

footer a:hover {
    text-decoration: none;
    color: #65ba65;
    font-weight: bold;
}

blu-product-short .thumbnail {
    height: 330px;
    width: 294px;
    border-style: none;
}

blu-product-short:hover .thumbnail {
    border-style: solid;
    background: rgba(128, 128, 128, 0.03);
}

blu-product-short .thumbnail> img {
    margin-top: 10px;
    height: 150px;
    width: auto;
}

blu-product-short .product-desc {
    height: 130px;
    padding: 10px;
}

.product-desc-title {
    font-weight: 700;
}

.product-desc p {
    padding-top: 10px;
}

.product-actions {
    width: 284px;
    height: 320px;
    position: absolute;
    display: none;
    text-align: center;
    background: rgba(128, 128, 128, 0.4);
}

.product-actions-btn {
    position: relative;
    top: 60px;
    margin-top: 10px;
}

blu-product-short:hover .product-actions {
    display: block;
}

#rg-image {
    margin-top: 20px;
    margin-left: -10px;
}

/* Product View */

#product-image {
    width: 90%;
}

.tab-content {
    margin-bottom: 50px;
}

.tab-content div {
    border: 1px solid #eee;
    padding: 20px;
}

#product-info-top {
    padding-left: 20px;
}

#product-info-bottom {
    margin-top: 20px;
}

#product-top-reviews {
    position: relative;
    top: 10px;
}

#product-info-top > h4 {
    color: #404040;
}

#product-info-top > ul > li {
    color: #808080;
}

#product-info-title {
    font-weight: bold;
    color: #555555;
}

#product-info-price {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 8px;
}

/* End: Product View */

/* Start: Admin New Product */

#np-amount, #np-price {
    width: 60%;
}

/* End: Admin New Product */

.loading {
    position: relative;
    text-align: center;
}

.nav-dropdown {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(230, 230, 230, .8);
}

#categories-dropdown {
    min-width: 250px;
    padding: 14px;
    background-color: rgba(230, 230, 230, .8);
}

#categories-dropdown .list-group {
    margin-top: 10px;
    margin-bottom: 10px; 
    overflow-y: scroll;
    height: 300px;
}

.nav-dropdown-bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
    text-align: center;
}

.nav-dropdown .row {
    padding-bottom: 20px;
}

.login-btn {
    width: 100px;
}

.navbar-brand {
    bottom: 10px;
}

#navbar-title {
    font-size: 1.4em;
}

#footer-logo {
    text-align: center;
    padding-top: 50px;
}

#footer-logo p {
    color: white;
    font-weight: bold;
}

#footer-logo span,
#navbar-logo,
#navbar-title,
.logo {
    color: #65ba65;
}

.form-horizontal .control-label {
    text-align: left;
}

.profile-image {
    width: 32px;
    height: 32px;
}

#user-dropdown {
	padding-top: 10px;
	padding-bottom: 8px;
}

#user

#np-options > .btn-default.active {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

.tab-pane div {
    border: none;
    padding: 0 0 0 20px;
}

.rating-star {
    color: #FFDC2E;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

#rating-bar {
    display: inline-flex;
    width: 150px;
    height: 13px;
    margin-bottom: 10px;
    border: solid #DDDDDD 0.5px;
}

#rating-bar span {
    background-color: #FFDC2E;
}

#rating-info {
    margin-top: 10px;
}

#rating-info p {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 30px;
}

#rating-info-bars {
    margin-top: 10px;
}

#rating-info-btn {
    margin-top: 10px;
    padding-top: 40px;
}

.review-comment img {
    height: 50px;
    width: 50px;
}

.review-comment p {
    margin-top: 10px;
}

.btn-custom {
    border-radius: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

.span-text {
    position: relative;
    bottom: 3px;
}

#product-amount {
    margin-left: 70px;
    width: 60px;
    font-size: 2em;
    border: solid 1px #5cb85c;
}

.product-full-actions {
    margin-top: 10px;
}

#cart-dropdown-scroll {
    max-height: 150px;
    overflow-y: auto; 
    overflow-x: hidden; 
}

#sidebar-menu {
    max-height: 250px;
    overflow-y: auto; 
}

@media only screen and (min-width: 550px) {
    #navbar-search {
        width: 400px;
    }
}

@media only screen and (min-width: 720px) {
    #navbar-search {
        width: 300px;
    }

    .container {
        min-height: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    #navbar-search {
        width: 400px;
    }

    .container {
        min-height: 600px;
    }

    .product-full-actions {
        margin-top: 0;
    }

    #cart-dropdown-scroll {
        max-height: 200px;
    }
}

@media only screen and (min-width: 1280px) {
    #navbar-search {
        width: 500px;
    }
    .container {
        min-height: 700px;
    }

    #rating-info {
        margin-top: 15px;
    }

    #rating-info-btn {
        margin: 50px 0 0 100px;
    }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}