::-webkit-scrollbar {
    width: 50px;
}

body {
    margin-top: 51px;
}

.container {
    margin-top: 50px; 
    min-height: 300px;
}

#logo {
    width: 32px;
}

.navbar-brand {
    position: relative;
    bottom: 5px;
}

#header-carousel img {
    height: 300px;
    width: auto;
}

.carousel-button {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.navbar-default .navbar-nav> li> a:hover {
    background: #3ea346;
    color: #ffffff;
}

#navbar-search {
    width: 200px;
}

.carousel-control {
    display: none;
}

#header-carousel:hover .carousel-control {
    display: block;
}

.affix {
    top: 200px;
    right: 10px;
}

.affix-top {
    position: absolute;
    top: 400px;
    right: 10px;
}

.fa-facebook-square {
    color: #4A6EA9;
}

.fa-twitter-square {
    color: #4099FF;
}

.fa-youtube-square {
    color: red;
}

footer .row {
    padding-top: 40px;
    margin-right: 0;
}

footer h5 {
    color: #65ba65;
}

.footer-links h5 {
    padding-left: 20px;
}

.footer-icons h5 {
    padding-left: 0px;
}

.footer-icons span {
    color: #ffffff;
    padding-right: 5px;
}

.footer-icons span:hover {
    color: #65ba65;
}

.footer-forms h5 {
    padding-left: 0;
}

.footer-cr p {
    padding-top: 20px;
    text-align: center;
    color: #b7b7b7;
}

footer {
    background: #434343;
}

footer ul {
    list-style: none;
}

footer a {
    color: white;
    font-size: 0.9em;
}

footer a:hover {
    text-decoration: none;
    color: #65ba65;
    font-weight: bold;
}

blu-product-short .thumbnail {
    height: 350px;
    border-style: none;
}

blu-product-short:hover .thumbnail {
    border-style: solid;
    background: rgba(128, 128, 128, 0.03);
}

blu-product-short .thumbnail> img {
    height: 150px;
    width: auto;
}

blu-product-short .product-desc {
    height: 130px;
    padding: 10px;
}

blu-product-short .product-actions {
    padding-top: 20px;
    display: none;
    text-align: center;
}

blu-product-short:hover .product-actions {
    display: block;
}

#rg-image {
    margin-top: 20px;
    margin-left: -10px;
}

/* Product View */

#product-image {
    width: 90%;
}

.tab-content div {
    border: 1px solid #eee;
    padding: 20px;
}

#product-info-top {
    padding-left: 20px;
}

#product-info-bottom {
    margin-top: 20px;
}

blu-rate {
    color: #FFDC2E;
    position: relative;
    top: 10px;
}

.write-review {
    margin-left: 10px;
    position: relative;
    top: 10px;
}

#product-info-top > h4 {
    color: #404040;
}

#product-info-top > ul > li {
    color: #808080;
}

#product-info-title {
    font-weight: bold;
    color: #555555;
}

#product-info-price {
    font-weight: bold;
    font-size: 1.2em;
}

/* End: Product View */

/* Start: Admin New Product */

#np-amount, #np-price {
    width: 60%;
}

/* End: Admin New Product */

.loading {
    position: relative;
    text-align: center;
}

.login-dropdown {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(230, 230, 230, .8);
}

#categories-dropdown {
    min-width: 250px;
    padding: 14px;
    background-color: rgba(230, 230, 230, .8);
}

#categories-dropdown .list-group {
    margin-top: 10px;
    margin-bottom: 10px; 
    overflow-y: scroll;
    height: 300px;
}

.login-dropdown .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
    text-align: center;
}

.login-dropdown .row {
    padding-bottom: 20px;
}

.login-btn {
    width: 100px;
}

.navbar-brand {
    bottom: 10px;
}

#navbar-title {
    font-size: 1.4em;
}

#footer-logo {
    text-align: center;
    padding-top: 50px;
}

#footer-logo p {
    color: white;
    font-weight: bold;
}

#footer-logo span,
#navbar-logo,
#navbar-title,
.logo {
    color: #65ba65;
}

.form-horizontal .control-label {
    text-align: left;
}

.profile-image {
    width: 32px;
    height: 32px;
}

#user-dropdown {
	padding-top: 10px;
	padding-bottom: 8px;
}

#np-options > .btn-default.active {
    color: #fff;
    background-color: #449d44;
    border-color: #255625;
}

@media only screen and (min-width: 550px) {
    #navbar-search {
        width: 400px;
    }
}

@media only screen and (min-width: 720px) {
    #navbar-search {
        width: 300px;
    }

    .container {
        min-height: 500px;
    }
}

@media only screen and (min-width: 1024px) {
    #navbar-search {
        width: 400px;
    }
    .container {
        min-height: 600px;
    }
}

@media only screen and (min-width: 1280px) {
    #navbar-search {
        width: 500px;
    }
    .container {
        min-height: 700px;
    }
}