#logo {
    width: 32px;
}

.navbar-brand {
    position: relative;
    bottom: 5px;
}

#header-carousel {
    margin-top: 51px;
}

#header-carousel img {
    height: 300px;
    width: auto;
}

.carousel-button {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.navbar-default .navbar-nav > li > a:hover {
    background: #3ea346;
    color: #ffffff;
}

.carousel-control {
    display: none;
}

#header-carousel:hover .carousel-control {
    display: block;
}

#search-box {
    width: 400px;
}

#search-form {
    margin-right: 100px;
}

.affix {
    top: 200px;
    right: 10px;
}

.affix-top {
    position: absolute;
    top: 400px;
    right: 10px;
}

.fa-facebook-square, footer .fa-facebook-square:hover {
    color: #4A6EA9;
}

.fa-twitter-square, footer .fa-twitter-square:hover{
    color: #4099FF;
}

.fa-youtube-square, footer .fa-youtube-square:hover {
    color: red;
}

footer .row {
    padding-top: 40px;
    margin-right: 0;
}

footer h5 {
    color: #65ba65;
}

.footer-links h5 {
    padding-left: 20px;
}

.footer-icons h5{
    padding-left: 0px;
}

.footer-icons span {
    color: white;
    padding-right: 5px;
}

.footer-forms h5{
    padding-left: 0;
}

.footer-cr p {
    padding-top: 20px;
    text-align: center;
    color: #b7b7b7;
}

footer {
    background: #434343;
}

footer ul {
    list-style: none;
}

footer a {
    color: white;
    font-size: 0.9em;
}

footer a:hover {
    text-decoration: none;
    color: #65ba65;
    font-weight: bold;
}

blu-product-short .thumbnail {
    height: 350px;
    border-style: none;
}

blu-product-short:hover .thumbnail{
    border-style: solid;
    background: rgba(128, 128, 128, 0.03);
}

blu-product-short .thumbnail > img {
    height: 150px;
    width: auto;
}

blu-product-short .product-desc {
    height: 130px;
    padding: 10px;
}

blu-product-short .product-actions {
    display: none;
    text-align: center;
}

blu-product-short:hover .product-actions {
    display: block;
}

.login-dropdown {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(230,230,230,.8);
}

.login-dropdown .bottom {
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
    text-align: center;
}

.login-dropdown .row {
    padding-bottom: 20px;
}

.login-btn {
    width: 100px;
}
