<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-3">
			<div class="list-group">
				<a ui-sref="app.admin.orders" class="list-group-item"
					ng-class="{'active': adminScope.activeView === 'orders'}">
						<i class="fa fa-dropbox"></i> Orders <span class="badge pull-right">0</span>
					
				</a>
				<a ui-sref="app.admin.categories" class="list-group-item" 
					ng-class="{'active': adminScope.activeView === 'categories'}">
						<i class="fa fa-plus-circle"></i> Categories
				</a>
				<a ui-sref="app.admin.newproduct" class="list-group-item" 
					ng-class="{'active': adminScope.activeView === 'newproduct'}">
						<i class="fa fa-plus-circle"></i> New Product
				</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-9">
			<div ui-view="settings"></div>
		</div>
	</div>
</div>