<div class="row">
	<div class="col-xs-12 col-sm-9">
		<form novalidate class="form-horizontal" id="np-form" name="adminNp.up" ng-submit="adminNp.submit()">
			<!-- name input -->
            <div class="form-group has-feedback" 
				ng-class="{
					'has-success': adminNp.up.npName.$valid,
					'has-error': adminNp.up.npName.$invalid && adminNp.up.npName.$dirty
				}">
				<label for="np-name" class="control-label col-xs-12 col-sm-2">Name</label>
				<div class="col-xs-12 col-sm-10">
					<input type="text" class="form-control" id="np-name" ng-model="adminNp.npName" name="npName" required>
					<span ng-show="adminNp.up.npName.$valid" 
						class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
					<span ng-show="adminNp.up.npName.$invalid && adminNp.up.npName.$dirty" 
						class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				</div>
			</div>
            
            <!-- amount input -->
			<div 
                class="form-group"
                ng-class="{
					'has-success': adminNp.up.npAmount.$valid,
					'has-error': adminNp.up.npAmount.$invalid && adminNp.up.npAmount.$dirty }">
				<label for="np-amount" class="control-label col-xs-12 col-sm-2">Amount</label>
				<div class="col-xs-12 col-sm-10">
					<input type="number" min="0" class="form-control" id="np-amount" ng-model="adminNp.npAmount" name="npAmount" required>
                    <span ng-show="adminNp.up.npAmount.$valid" 
						class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
					<span ng-show="adminNp.up.npAmount.$invalid && adminNp.up.npAmount.$dirty" 
						class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				</div>
			</div>
            
            <!-- price input -->
			<div 
				class="form-group"
				ng-class="{
                    'has-success': adminNp.up.npPrice.$valid,
                    'has-error': adminNp.up.npPrice.$invalid && adminNp.up.npPrice.$dirty }">
				<label for="np-price" class="control-label col-xs-12 col-sm-2">Price</label>
				<div class="col-xs-12 col-sm-10">
					<input type="number" min="0" class="form-control" id="np-price" ng-model="adminNp.npPrice" name="npPrice" required>
					<span ng-show="adminNp.up.npPrice.$valid" 
						class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
					<span ng-show="adminNp.up.npPrice.$invalid && adminNp.up.npPrice.$dirty" 
						class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
				</div>
			</div>
			<!-- options -->
			<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2">Options</label>
				<div class="col-xs-12 col-sm-10">					
					<div id="np-options" class="btn-group" data-toggle="buttons">
  						<label class="btn btn-default" ng-click="adminNp.npSale = !adminNp.Sale">
    						<input type="checkbox" autocomplete="off"> On Sale
  						</label>
  						<label class="btn btn-default" ng-click="adminNp.npHot = !adminNp.npHot">
    						<input type="checkbox" autocomplete="off"> Hot
  						</label>
					</div>
				</div>
			</div>

            <!-- specifications input -->
			<div class="form-group" 
				ng-class="{
                    'has-success': adminNp.up.npSpecs.$valid,
                    'has-error': adminNp.up.npSpecs.$invalid && adminNp.up.npSpecs.$dirty }">
				<label for="np-specs" class="control-label col-xs-12 col-sm-2">Specifications</label>
				<div class="col-xs-12 col-sm-10">
					<textarea class="form-control" id="np-specs" ng-model="adminNp.npSpecs" name="npSpecs" required></textarea>
				</div>
			</div>

            <!-- description input -->
			<div 
                class="form-group has-feedback" 
				ng-class="{
					'has-success': adminNp.up.npDescription.$valid,
					'has-error': adminNp.up.npDescription.$invalid && adminNp.up.npDescription.$dirty }">
				<label for="np-description" class="control-label col-xs-12 col-sm-2">Description</label>
				<div class="col-xs-12 col-sm-10">
					<textarea class="form-control" id="np-description" ng-model="adminNp.npDescription" rows="3" name="npDescription" required></textarea>
				</div>
			</div>
            
            <!-- category input -->
			<div class="form-group">
				<label for="np-category" class="control-label col-xs-12 col-sm-2">Category</label>
				<div class="col-xs-12 col-sm-10">
					<input type="text" class="form-control" id="np-category" ng-model="adminNp.npCategory"
						list="categories-list" name="npCategory" autocomplete="off" required>
				</div>
				<datalist id="categories-list">
					<option ng-repeat="category in adminNp.categoriesList" value="{{ category.name }}"></option>
				</datalist>
			</div>
            
            <!-- image input -->
			<div class="form-group">
				<label for="np-upload" class="control-label col-xs-12 col-sm-2">Upload Image</label>
				<div class="col-xs-12 col-sm-10">
					<label class="btn btn-primary btn-block">
						Select <input id="np-upload" type="file" ngf-select name="file" ng-model="adminNp.file"
							ngf-pattern="'image/*'" accept="image/*"
							ngf-max-size="5MB" style="display: none;" required>
					</label>
					<div class="progress">
						<div class="progress-bar progress-bar-success progress-bar-striped active"
							role="progressbar" aria-valuenow="{{adminNp.progress}}" ng-model="adminNp.progress"
							aria-valuemin="0" aria-valuemax="100" style="width: {{adminNp.progress}}%">
							{{adminNp.progress}}%
							<span class="sr-only">{{adminNp.progress}}% Complete (success)</span>
						</div>
					</div>
				</div>
			</div>
            
            <!-- form buttons -->
			<div class="form-group">
				<div class="col-xs-12 col-sm-3 col-sm-offset-3">
					<button type="submit" class="btn btn-success btn-block" 
						ng-class="{ 
							'disabled': adminNp.up.$pristine || adminNp.up.$invalid
						}">Save
					</button>
				</div>
				<div class="col-xs-12 col-sm-3">
					<button type="reset" class="btn btn-default btn-block">Clear</button>
				</div>
			</div>
			
            <!-- form message -->
			<i ng-show="adminNp.up.file.$error.maxSize">File too large
				{{adminNp.file.size / 1000000|number:1}}MB: max 5MB
			</i>
		</form>
	</div>
    
    <!-- image thumbnail view -->
	<div class="col-xs-12 col-sm-3">
		<img id="np-image" class="img-responsive img-thumbnail" ngf-thumbnail="adminNp.file || 'images/products/product.png'">
	</div>
</div>