<!-- loading screen -->
<div class="container loading logo" ng-show="$root.loadingState === 'app.cart'">
	<span class="fa fa-shopping-bag fa-2x"></span>
	<h2>BluStore</h2>
	<i class="fa fa-spinner fa-spin fa-2x"></i>
</div>

<!-- cart empty view -->
<div class="container" ng-show="$root.loadingState !== 'app.cart' && cartCtrl.cart.length < 1">
	<div class="alert alert-info" role="alert">your cart is currently empty!</div>
</div>

<!-- cart view -->
<div class="container" ng-hide="$root.loadingState === 'app.cart' || cartCtrl.cart.length < 1">
	<h1>CART</h1>
	<form name="cartCtrl.cartForm">
	<section id="cart-list-full">
		<!-- list header -->
		<div class="row cart-list-header">
			<div class="col-xs-6">item</div>
			<div class="col-xs-2">Quantity</div>
			<div class="col-xs-2">Unit Price</div>
			<div class="col-xs-2">Subtotal</div>
		</div>

			
		<!-- list items -->
		<div class="row cart-list-item" ng-repeat="cartItem in cartCtrl.cart">
			<div class="col-xs-4 col-sm-2 item-image">
				<a ui-sref="app.product({ id: cartItem.product.slug })">
					<img class="img-responsive" ng-src="{{ cartItem.product.imageUrl }}" alt="product image">
				</a>
			</div>
			<div class="col-xs-8 col-sm-4 item-description">
				<p>{{ cartItem.product.title }}</p>
				<p class="label label-success">stock: {{ cartItem.product.stock }}</p>
			</div>
			<div class="col-xs-4 col-sm-2 item-quantity">
				<input class="amount-input" type="number" min="0" max="{{ cartItem.product.stock }}" ng-model="cartItem.amount">
			</div>
			<div class="col-xs-4 col-sm-2 item-price">
				<p>{{ cartItem.product.price }}</p>
			</div>
			<div class="col-xs-4 col-sm-2 item-total">
				<p>{{ cartItem.product.price * cartItem.amount | currency:'$':0 }}</p>
			</div>
		</div>

	</section>

	<!-- Cart Bottom -->
	<section id="cart-bottom-full">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<button class="btn btn-success btn-custom" ng-click="cartCtrl.updateCart(cartCtrl.cart);">Update</button>
			</div>
			<div class="col-xs-12 col-sm-4">
				<button class="btn btn-warning btn-custom">Continue To Checkout</button>
			</div>
			<div class="col-xs-12 col-sm-4">
				<p>Total: {{ cartCtrl.getTotalPrice(cartCtrl.cart) | currency:'$':0 }}</p>
			</div>
		</div>
	</section>
	</form>
</div>