<!-- loading screen -->
<div class="container loading logo" ng-show="$root.loadingState === 'app.cart'">
	<span class="fa fa-shopping-bag fa-2x"></span>
	<h2>BluStore</h2>
	<i class="fa fa-spinner fa-spin fa-2x"></i>
</div>

<div class="container" ng-hide="$root.loadingState === 'app.cart'">
	<h1>CART</h1>
	<section id="cart-list-full">
		<!--
				<div id="cart-item-full" class="media" ng-repeat="cartItem in cartCtrl.cart">
					<div class="media-left">
						<a ui-sref="app.product({ id: cartItem.product.slug })">
							<img class="media-object img-responsive" ng-src="{{ cartItem.product.imageUrl }}" alt="product image">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{ cartItem.product.title }}</h4>
						<input class="amount-input" type="number" min="0" max="99" value="{{ cartItem.amount }}">
						<span class="badge">{{ cartItem.product.price * cartItem.amount | currency:'$':0 }}</span>
						<button type="button" class="pull-right cart-close-btn close" title="remove this product" ng-click="cartCtrl.removeOne(cartItem);">&times;</button>
					</div>
					<hr>
				</div>
				-->

		<!-- list header -->
		<div class="row cart-list-header">
			<div class="col-xs-6">item</div>
			<div class="col-xs-2">Quantity</div>
			<div class="col-xs-2">Unit Price</div>
			<div class="col-xs-2">Subtotal</div>
		</div>
		
		<!-- list items -->
		<div class="row cart-list-item" ng-repeat="cartItem in cartCtrl.cart">
			<div class="col-xs-4 col-sm-2 item-image">
				<a ui-sref="app.product({ id: cartItem.product.slug })">
					<img class="img-responsive" ng-src="{{ cartItem.product.imageUrl }}" alt="product image">
				</a>
			</div>
			<div class="col-xs-8 col-sm-4 item-description">
				<p>{{ cartItem.product.title }}</p>
			</div>
			<div class="col-xs-4 col-sm-2 item-quantity">
				<input class="amount-input" type="number" min="0" max="99" value="{{ cartItem.amount }}">
			</div>
			<div class="col-xs-4 col-sm-2 item-price">
				<p>{{ cartItem.product.price }}</p>
			</div>
			<div class="col-xs-4 col-sm-2 item-total">
				<p>{{ cartItem.product.price * cartItem.amount | currency:'$':0 }}</p>
			</div>
		</div>

	</section>

	<!-- Cart Bottom -->
	<section id="cart-bottom-full">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<button class="btn btn-success btn-custom">Update</button>
			</div>
			<div class="col-xs-12 col-sm-4">
				<button class="btn btn-warning btn-custom">Continue To Checkout</button>
			</div>
			<div class="col-xs-12 col-sm-4">
				<p>Total: {{ cartCtrl.getTotalPrice(cartCtrl.cart) | currency:'$':0 }}</p>
			</div>
		</div>
	</section>

</div>