<!-- loading screen -->
<div class="container loading logo" ng-show="$root.loadingState === 'app.search'">
	<span class="fa fa-shopping-bag fa-2x"></span>
	<h2>BluStore</h2>
	<i class="fa fa-spinner fa-spin fa-2x"></i>
</div>

<!-- loading screen -->
<div class="container" ng-hide="$root.loadingState === 'app.search'">

	<div class="row" ng-repeat="productArray in searchCtrl.products">
		<div class="col-xs-12 col-md-4" ng-repeat="productInfo in productArray">
			<blu-product-short></blu-product-short>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="alert alert-danger alert-dismissible" role="alert" ng-show="searchCtrl.error">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span></button>
				<strong>sorry!</strong> no products matched your search "{{ searchCtrl.searchTerm }}"
			</div>
		</div>
	</div>

</div>